<DOCTYPE html>
<html ng-app="lh-live">
	<head>
		<link type = "text/css" rel = "stylesheet" href = "feed.css" />
        	<link href='http://fonts.googleapis.com/css?family=Open+Sans:700,600,400' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.1.2/angularfire.min.js"></script>
    <script>
      var app = angular.module("lh-live", ["firebase"]);
      app.controller("lh-live-sched",function($scope,$firebaseObject){
        var FB = new Firebase("https://lh-live-announce.firebaseio.com/sched");
        $firebaseObject(FB).$bindTo($scope,"sched");
      });
      app.controller("lh-live-announce",function($scope,$firebaseObject){
        var FB = new Firebase("https://lh-live-announce.firebaseio.com/announce");
        $firebaseObject(FB).$bindTo($scope,"announce");
      });
    </script>
	</head>
	<body>
		<div ng-controller="lh-live-sched" id = "schedule" class = "large-window">
			<h1> Schedule </h1>

			<div class = "content">
        <div ng-repeat="item in sched">
          <h2>{{item.name}}</h2>
          <p>{{item.time}}</p>
        </div>
			</div>
		</div>
		<div ng-controller="lh-live-announce" id = "right">
			<div id = "announcements" class = "large-window">
				<h1> Announcements </h1>

				<div class = "content">
          <div ng-show="announce[0] === undefined">
            <h2>No announcements.</h2>
          </div>
          <div ng-repeat="item in announce">
            <h2>{{item.name}}</h2>
            <p>{{item.text}}</p>
          </div>
				</div>
			</div>
			<div id = "hotline" class = "large-window">
				<h1> Help Hotline </h1>
				<div id = "inputs">
					<input type = text placeholder = "Room #"/>
					<input type = text placeholder = "Help for"/>
				</div>
				<p> Status: <span>Matched to a mentor.</span></p>
				<a>Want help getting started? Try the <span>LexHack Start Guide.</span></a>
				<button>Summon a mentor</button>
			</div>
		</div>
	</body>
